.back-link-container-title-page {
    display: flex;
    align-items: center;
}

.back-link-container-title-page a {
    color: black;
    margin-left: 16px;
}

.back-link-title-page {
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
}

.back-link-title-page:hover {
    border-bottom: 2px solid black;
}